// FOCUSABLES

.focusables {
  .focusable {
    .border-radius(5px);
    &:hover {
      background: rgb(240,240,240);
      background: rgba(255,255,255,.5);
    }
    &.focused {
      background: @white;
    }
  }
}
