// TIMELINE
// --------

ul.timeline {
  list-style: none;
  margin-left: 0;
  li {
    dl {
      margin: 0 0 -1em 0;
      dt {
        display: inline;
        color: @linkColor;
        font-weight: bold;
      }
      dd {
        display: inline;
      }
    }
  }
  .timeline-profile {
    text-align: center;
    padding-top: 3px;
    width: 30px;
    float: left;
    img {
      width: 30px;
    }
  }
  .timeline-content {
    margin-left: 40px;
  }
  .timeline-datetime {
    color: @grayLight;
    text-align: right;
    font-style: italic;
  }
  // for comments
  ul {
    list-style: none;
    margin-left: 10px;
    margin-top: 1px;

    .timeline-profile {
      img {
        width:26px;
      }
    }
  }
}
